.ReactModal {
    position: absolute;
    width: 48vw;
    height: 48vh;
    top: 40px;
    right: 25%;
    bottom: 40px;
    left: 25%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.FilterModal {
    @extend .ReactModal;
    height: 78vh;
}

#filterTransacionsWrapper {
    min-height: 5rem;
}
